
<style>
    .header .col {
    background-color:black;
    color:white
}

</style>
<ion-view view-title="Balances">


    <div class="bar bar-subheader" style="background-color: rgb(62, 83, 100)">

        <button style="width:12%;background-color:darkorange" class="button ion-arrow-left-a" ng-click="goback()">

        </button>


        <h5 class="title" style="color:white;font-size:small">{{search.date |date:"MMMM, y"}} </h5>


        <button style="width:12%;background-color:darkorange" class="button ion-arrow-right-a" ng-click="gofront()"></button>


    </div>


    <ion-content style="background-color:black">
        <br />
        <br />

        <div>

            <div class="row header">
                <div class="col">Type</div>
                <div class="col">Price $</div>
                <div class="col">%</div>
                <div class="col">total L.L.</div>
            </div>

            <div ng-repeat="items in mybalances | orderBy:['minikey','year','month','day','hour','minute']">

                <div style="background-color:black" >

                    <b style="color:darkorange">{{items.reservationnum}}/</b>
                    <span style="color:darkorange">
                        {{items.year}}.{{items.month}}.{{items.day}} - {{items.hour}}:{{items.minute}} 


                    </span>
                </div>
                <div class="row">
                    <!--ng-repeat="data in ctrl.data"-->
                    <div class="col">{{items.type}} </div>
                    <div class="col">{{items.price}} </div>
                    <div class="col">{{items.percentage}}% </div>
                    <div class="col">{{items.total}} </div>


                    <!--<div class="col"><button style="background-color:darkorange;color:white" class="button button-small" ng-click="ctrl.add($index)">Edit</button></div>-->
                </div>
                <!--<div>
                <h5 style="color:green">
                    Total Price :
                </h5>
            </div>-->

            </div>

            <div>
                <h4 style="color:green;font-size:large">
                    Total : {{totalbalance}} L.L.
                </h4>
            </div>
        </div>
      



    </ion-content>

    

</ion-view>
