<ion-view view-title="FeedBack">
	<style>
		.headercolor {
			background-color: rgb(62, 83, 100);
			color: white;
			border-bottom: 2px solid rgb(62, 83, 100);
			border-top: 3px;
		}
	</style>

	<ion-nav-bar class="headercolor">
		<ion-nav-back-button>

		</ion-nav-back-button>
	</ion-nav-bar>


	<ion-content style="background-color:rgb(46,62,75)">
		<h5 align="center" style="color:white">
			<i style="padding-top:10px;font-size:30px" class="icon ion-ion-ios-telephone"></i>
			Call Us (+961)-71 258379
		</h5>

		<h5 align="center" style="color:#5f7485">
			Or
		</h5>
		<div align="center" style="background-color:tranparent;padding-bottom:5px;font-size:15px;color:white"> Write Your Feedback
			<h5 style="color: red" ng-show="error">
				Feedback should be more than 10 letters
			</h5>
			<div class="list">

				<div class="list" style="width:100%; padding-left:10px;padding-right:10px;padding-bottom:15px">
					<label class="item item-input" style="padding:2px 20px 20px 10px;background-color:transparent; color:#ffffff; border-radius:5px; border-color:#97a7b4">
						<textarea rows="8" cols="100" maxlength="220" type="text" placeholder="Found A Bug ? You Have A Suggestion ? Please Let Us Know <3 "
						style="font-style:italic;color:#21ab41;background-color:transparent;padding-left:2px" ng-model="feedbacktext.text">
					</textarea>
					</label>
				</div>
			</div>
		</div>

	</ion-content>
	<div class="bar bar-footer" style="background-color:#21ab41">
		<a ng-disabled="$scope.loading" ng-click="savefeedback()" class="button button-balanced button-large" style="width:100%">
			<h5 class="whitetext">
				Submit
			</h5>
		</a>
	</div>
	<ion-footer-bar align-title="left" class="bar-dark" style="background-color: rgb(30,30,30);border: none" ng-show="nointernet">
		<div align="left" style="padding-left: 5px">
			<h6 class="whitetext">
				Oops. You have no internet connection
			</h6>
		</div>
	</ion-footer-bar>
</ion-view>