<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arina.arinabusiness" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Arina Admin</name>
    <description>
        Arina Admin
    </description>
    <author email="you@example.com" href="http://example.com.com/">Missak Boyajian</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="15" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="KeepRunning" value="True" />
    <preference name="ShowTitle" value="True" />
    <preference name="InAppBrowserStorageEnabled" value="True" />
    <preference name="SuppressesIncrementalRendering" value="True" />
    <preference name="windows-target-version" value="10.0" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <feature name="DatePicker">
        <param name="ios-package" value="DatePicker" />
    </feature>
    <feature name="DatePickerPlugin">
        <param name="android-package" value="com.okaybmd.cordova.plugin.datepicker.DatePickerPlugin" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.0" />
    <plugin name="ionic-plugin-keyboard" spec="~1.0.8" />
    <plugin name="cordova-plugin-datepicker" src="https://github.com/VitaliiBlagodir/cordova-plugin-datepicker.git" version="0.9.2" />
    <plugin name="cordova-plugin-inappbrowser" src="https://github.com/apache/cordova-plugin-inappbrowser" version="1.4.1-dev" />
    <platform name="android">
        <icon density="ldpi" src="resources\android\icon\drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources\android\icon\drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources\android\icon\drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources\android\icon\drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources\android\icon\drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources\android\icon\drawable-xxxhdpi-icon.png" />
        <splash density="port-ldpi" src="resources\android\splash\drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="resources\android\splash\drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources\android\splash\drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="resources\android\splash\drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="resources\android\splash\drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="resources\android\splash\drawable-port-xxxhdpi-screen.png" />
    </platform>
    <icon src="resources\android\icon\drawable-xhdpi-icon.png" />
    <plugin name="onesignal-cordova-plugin" spec="~2.2.5" />
</widget>
